BSC_MAINNET_RPC=https://bsc-dataseed.binance.org/
BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/
PRIVATE_KEY=0ca291a1e5854d0dfcfaade417f521c34fdc81aa59633b909d99bf1748d3ee8d
BSCSCAN_API_KEY=C76SMS9HY3RKYE3JXZJUEQ9UN54XKDECBD
OWNER_ADDRESS=部署合约地址
ADDR1_ADDRESS=owner转让地址
ADDR2_ADDRESS=黑名单测试地址